../.bash_history
../.bashrc
../.cache/
../.cargo/
../.config/
../.gitconfig
../.lesshst
../.mariadb_history
../.ssh/
../.wget-hsts
../htdocs/
../install-nethunter-termux
../kali-arm64/
../kali-nethunter-rootfs-full-arm64.tar.xz
../ngrok-stable-linux-arm64.tgz*
../storage/
../~touch_not

